html {
  font-size: 100%;
}

body {
  font-family: 'Raleway', "Noto Sans JP", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

#header {
  width: 100vw;
  height: 65px;
}

/* タイトルコンテンツ */

.section-title {
  font-size: 1.75rem;
  margin: 80px auto .55rem auto;
  display: flex;
  justify-content: center;
  padding-bottom: .88rem;
  width: 16rem;
  color: #000;
  font-weight: 600;
  border-bottom: 1px solid #000;
}

.reverse-title {
  color: #fff;
  border-bottom: 1px solid #fff;
}


/* タイトルコンテンツここまで */
/* ナヴここから */

#header .site-title {
  font-size: clamp(1.313rem, 0.185rem + 2.35vw, 3rem);
  white-space: nowrap;
  line-height: 65px;
  padding-left: 1%;
  display: inline-block;
  width: 20%;
}

#header .site-title a {
  color: #333;
}

.nav {
  float: right;
  width: 75%;
}

#header .nav-menu-ul {
  display: flex;
  justify-content:space-evenly;
}

#header .nav-menu-ul li {
 line-height: 65px;
}


#header .nav-menu-ul li a {
  color: #333;
  white-space: nowrap;
  padding: 7px;
  transition: all 0.4s ease-out;
} 

#header .nav-menu-ul li a:hover {
  color: #fff;
  background-color: #333;
  border-radius: 25%;
}

#header .nav-menu-ul .reserve-btn:hover {
  color: #00ff00;
  background-color: #333;
  border-radius: 20%;
}

#header .nav-menu-ul .login-btn:hover {
  color: #ff0000;
  background-color: #333;
  border-radius: 20%;
}

#header .nav-toggle {
  color: #000;
  float: right;
  font-size: 24px;
  line-height: 65px;
  padding-right: 10px;
  display: none;
}

#login-modal {
  display: none;
}

/* ナブここまで */


/* モーダルここから */

#login-modal {
  text-align: center;
  border-radius: 7px;
  border: 12px double #fff;
  background-color: #333;
  opacity: 0.9;
  width: 360px;
  height: 160px;
  padding: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#login-modal p {
  margin: 7px;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
}

#login-modal p:first-child {
  margin-top: -15px;
}

#login-modal input {
  width: 240px;
  height: 25px;
}

#login-modal .btns {
  display: flex;
}

#login-modal .btn {
  width: 43%;
  height: 36px;
  margin-top: 20px;
  margin-left: 5%;
  border-radius:7px;
  font-weight: bold;
  color: #000;
}

/* モーダルここまで */

/* メインここから */

.mainvisual {
  background-image: url(img/mainvisual.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100vw;
  width: 100%;
  height: calc(100vh - 65px);
  position: relative;
}

#concept {
  height: 42vh;
  background-color: #fff;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
}

.text-container .text {
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .1rem;
  line-height: 2.5;
  text-align: center;
  padding: 2.5% 5% 5% 5%;
}




/* ニュースセクション */

#news {
  height: 700px;
  width: 100vw;
  background-color: #282828;
  display: flex;
  /* padding: 4% 0; */
}

.nLeft {
  position: relative;
  width: 60%;
}

.nLeft .images {
  border: 10px solid #fff;
  position: absolute;
}

.nLeft .images:nth-child(1) {
  width: 48%;
  height: auto;
  top: -5%;
}

.nLeft .images:nth-child(2) {
  width: 38%;
  height: auto;
  top: 11%;
  left: 50.5%;
}

.nLeft .images:nth-child(3) {
  width: 36%;
  height: auto;
  top: 31%;
  left: 21%
}

.nRight {
  width: 40%;
  color: #fff;
}

.news-title {
  border: none;
  color: #fff;
}

.news-contents {
  width: 50%;
  margin: 0 auto;
}

.news-contents dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  width: 80%;
  font-size: .95rem;
  margin: 25px auto 0 auto;
}

.news-contents dt {
  width: 20%;
  border-bottom: 1px dotted #fff;
  padding: 3% 0;
  font-size: 1.1rem;
}

.news-contents dd {
  width: 68%;
  border-bottom: 1px dotted #fff;
  padding: 3% 0;
}

.news-contents dt:nth-child(7) {
  border-bottom: none;
}

.news-contents dd:nth-child(8) {
  border-bottom: none;
}

.news-contents dd a {
  color: #fff;
}



/* スタイルセクション */


#style {
  height: 450px;
  background-color: #fff;
  position: relative;
}

.style-title {
  position: absolute;
  top: -5%;
  left: 11%;
  width: 36%;
}

.style-container {
  width: 60%;
  height: 550px;
}

.style-text {
  width: 60%;
  position: absolute;
  left: 13.5%;
  top: 30%;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .05rem;
  line-height: 1.5;
}

.images4 {
  position: absolute;
  width: 27%;
  height: auto;
  top: 55%;
  left: 11%;
}

.images5 {
  position: absolute;
  width: 22%;
  height: auto;
  top: -29%;
  right: 14%;
  z-index: 1;
}

.images-shadow {
  position: absolute;
  width: 20%;
  height: 36%;
  top: -35%;
  right: 12%;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}





/* メニューセクション */


#menu {
  height: 850px;
  background: #e2e2e2e2;
  padding-top: 350px;
}

.menu-title {
  text-align: center;
  margin-top: -8%;
  margin-bottom: 3%;
}

.list-title {
  font-size: 1.7rem;
  font-weight: 600;
  padding-top: 3px;
  margin-bottom: 15px;
  display: inline-block;
  color: #000;
}

.menu-container {
  display: flex;
  width: 82%;
  margin: 0 auto;
}

.menu-container .menu {
  width: 45%;
  text-align: center;
  margin: 0 auto;  
}

.menu-container .menu dl {
  display: flex;
  flex-wrap: wrap;
  background: #282828;
  font-family: "Noto Sans JP";
  padding: 7% 0;
}

.menu-container .menu dt {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1;
  width: 60%;
  padding: 3% 0;
  color: #fff;
  
}

.menu-container .menu dd {
  font-size: 1.1rem;
  font-weight: 300;
  vertical-align: bottom;
  line-height: 1;
  width: 40%;
  padding: 3% 0;
  color: #fff;
}

.list-title:nth-child(3) {
  margin-top: 18px;
}

.twolines {
  padding-top: 5%;
}

.threelines {
  padding-top: 10%;
}


/* アクセスセクション */


#access {
  height: 450px;
  background: #fff;
  font-size: 1.1rem;
}

/* #access .access-title {
  text-align: right;
} */

#reserve-wrapper {
  max-width: 100%;
  height: 330px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  color: #000;
  font-family: "Noto Sans JP";
}

#reserve-wrapper .reserve-tel {
  width: 50%;
  margin: auto 0;
  border-right: 1px solid #000;
}

.reserve-tel .tel-btn {
  font-size: 1.99rem;
  font-weight: 700;
}

#reserve-wrapper .reserve-tel p {
  margin: 0 auto;
  padding: 2% 0;
  display: inline-block;
}

/* #reserve-wrapper .reserve-tel p:nth-child(3) {
  margin-top: 0%;
}

#reserve-wrapper .reserve-tel p:first-child {
  padding-top: 0;
} */

/* #reserve-wrapper .reserve-tel span {
  font-size: 1rem;
} */

.reserve-line {
  width: 50%;
  margin: auto 0;
  /* font-size: 1.8rem; */
}

/* #reserve-wrapper .reserve-line p {
  padding-bottom: 0%;
} */

.reserve-line span {
  /* color: rgb(0, 195, 0); */
  color: #000;
  font-size: 2.25rem;
}

.reserve-line img {
  width: 17%;
  height: auto;
}

#reserve-wrapper .reserve-tel .tel-btn-mobile {
  display: none;
}

#access .reserve-line .line-btn-mobile  {
  display: none;
}


/* フッター */


#footer {
  height: 90px;
  display: flex;
  background: #fff;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#footer a {
  color: #000;
}

#footer .sns-wrapper {
  width: 100%;
  justify-content: space-around;
}

#footer .sns-wrapper ul {
  display: flex;
  justify-content: space-around;
}

#footer .sns-wrapper ul li {
  text-align: center;
  line-height: 90px;
}

#footer .sns-wrapper ul li a {
  font-size: 1.2rem;
}

#footer .sns-wrapper .fa-brands {
  margin-right: 5px;
}

.sns-wrapper i {
  font-size: 1.8rem;
}

#footer .contact-wrapper {
  width: 100%;
  /* line-height: 45px; */
}

#footer .contact-wrapper ul {
  display: flex;
  justify-content: space-around;
}

#footer .contact-wrapper ul li {
  display: inline-block;
  font-size: .9rem;
  line-height: 1.4;
  color: #000;
}

#footer .contact-wrapper ul li p {
  display: inline-block;
  font-size: .8rem;
  color: #000;
}



/* レスポンシブ  タブレット*/
@media screen and (max-width: 834px) {

  .nLeft .images:nth-child(1) {
    width: 58%;
    height: auto;
    top: -5%;
  }
  
  .nLeft .images:nth-child(2) {
    width: 48%;
    height: auto;
    top: 16%;
    left: 50.5%;
  }
  
  .nLeft .images:nth-child(3) {
    width: 46%;
    height: auto;
    top: 36%;
    left: 21%
  }

  .news-contents dl {
    width: 85%;
    font-size: .75rem;
  }
  
  .news-contents dt {
    font-size: 0.75rem;
    display: flex;
    align-items: center;
  }
  
  .news-contents dd {
    font-size: 0.9rem;
    padding-left: 3%;
  }


  .style-text {
    position: absolute;
    left: 10.5%;
    top: 30%;
  }


.images4 {
  position: absolute;
  width: 41%;
  height: auto;
  top: 65%;
  left: 11%;
}

.images5 {
  position: absolute;
  width: 27%;
  height: auto;
  top: -25%;
  right: 3%;
  z-index: 1;
}

.images-shadow {
  position: absolute;
  width: 26%;
  height: 36%;
  top: -30%;
  right: 1%;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

/* メニューセクション */

#menu {
  height: initial;
  background: #e2e2e2e2;
  padding-top: 250px;
}

.menu-title {
  text-align: center;
  margin-top: -8%;
  margin-bottom: 3%;
}

.menu-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.menu-container .menu {
  width: 95%;
  text-align: center;
  margin: 0 auto;  
}

.menu-container .menu dl {
  display: flex;
  flex-wrap: wrap;
  background: #282828;
  font-family: "Noto Sans JP";
  padding: 7% 0;
}

.menu-container .menu dt {
  font-size: 1.05rem;
  font-weight: 300;
  line-height: 1;
  width: 60%;
  padding: 3% 0;
  color: #fff;
  
}

.menu-container .menu dd {
  font-size: 1.1rem;
  font-weight: 300;
  vertical-align: bottom;
  line-height: 1;
  width: 40%;
  padding: 3% 0;
  color: #fff;
}

.list-title {
  margin-top: 18px;
}

.twolines {
  padding-top: 5%;
}

.threelines {
  padding-top: 10%;
}



 /* アクセスセクション */


 #access {
  font-size: 1.1rem;
  margin-bottom: 40%;
  height: 53vh;
}

#reserve-wrapper {
  display: block;
}

#reserve-wrapper .reserve-tel {
  width: 100%;
  margin: 7.5% 0;
}

#reserve-wrapper .reserve-tel p {
  width: 100%;
  padding: 2.5% 0;
}

#reserve-wrapper .reserve-line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 60%;
  margin: 7.5% auto 0 auto;
  border-top: 1px solid #000;
}

a[href^="tel:"]{
  pointer-events: block;
}

.tel-btn {
  display: none;
}

#reserve-wrapper .reserve-tel {
  border-right: none;
}

#reserve-wrapper .reserve-tel .tel-btn-mobile {
  display: block;
  color: #000;
  font-size: 2.25rem;
  margin-bottom: 4.5%;
  }

.reserve-tel .tel-btn-mobile:active {
  box-shadow: none;
  position: relative;
  top: 5px;
}

.fa-line {
  font-size: 1.75rem;
}

.reserve-line p {
  display: none;
}

.reserve-line img {
  display: none;
}

#access .reserve-line .line-btn-mobile  {
  display: block;
  color: #000;
  font-size: 1.5rem;
}


  /* フッター */

  .footer-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 35vh;
  }

  #footer .sns-wrapper{
    width: 100%;
    display: block;
    justify-content: space-evenly;
  }

  #footer .contact-wrapper {
    width: 100%;
    margin: 3vh auto;
    /* display: block; */
    justify-content: space-between;
  }
  
  #footer .contact-wrapper ul li {
    width: 100%;
    display: flex;
    margin-left: 6px;
    font-size: .8rem;
  }

  #footer .contact-wrapper ul li p {
    font-size: .7rem;
  }
  

  #footer .contact-wrapper ul li a {
    display: inline-block;
  }

}











/* レスポンシブ　スマホ */



@media screen and (max-width: 640px){
  

  .section-title {
    font-size: 1.2rem;
    margin: 40px auto 40px auto;
    display: flex;
    justify-content: center;
    padding-bottom: .88rem;
    width: 16rem;
    color: #000;
    font-weight: 600;
    border-bottom: 1px solid #000;
  }
  
  .reverse-title {
    color: #fff;
    border-bottom: 1px solid #fff;
  }

  #header {
    position: fixed;
    z-index: 99;
    background-color: #fff;
    opacity: 0.9;
    height: 40px;
  }

  .nav-menu-ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 11%;
    padding-bottom: 11%;
  }

  .nav-menu-ul li {
    font-size: 1rem;
    margin: 0.65rem 0;
    padding: 0.65rem 0;
  }

  .nav-menu-ul li:first-child {
    margin-top: 4%;
  }

  .nav-menu-ul li:last-child {
    margin-bottom: 4%;
  }

  #login-modal {
    width: calc(100vw - 35%);
    height: 23%;
    padding: 35px;
  }

  #header .site-title {
    padding: 0;
    color: #000;
    line-height: 40px;
    margin-left: 15px;
  }

  /* ヘッダーここまで */

    /* ハンバーガーアイコン実装部 */

    #header .nav {
      display: none;
    }
  
    #header .nav-toggle {
      display: block;
      position: fixed;
      top: 0px;
      right: 0px;
      width: 1.15rem;
      height: 1.25rem;
      margin: 0.75rem;
    }
  
    #header .nav-toggle i {
      display: block;
      width: 100%;
      height: 2px;
      background-color: #696969;
      position: absolute;
      transition: transform 0.5s, opacity 0.5s;
    }
  
    .nav-toggle i:nth-child(1) {
      top: 0;
    }
  
    .nav-toggle i:nth-child(2) {
      margin: auto;
      top: 0;
      bottom: 0;
    }
  
    .nav-toggle i:nth-child(3) {
      bottom: 0;
    }
  
  
    .nav-toggle.show i:nth-child(1) {
      transform: translateY(10px) rotate(-45deg);
    }
  
    .nav-toggle.show i:nth-child(2) {
      opacity: 0;
    }
  
    .nav-toggle.show i:nth-child(3) {
      transform: translateY(-12px) rotate(45deg);
    }
  
  


  /* コンセプトセクション */


  .mainvisual {
    height: calc(100dvh - 65px);
  }
  
  #concept {
   /* height: 39vh; */
   /* height: 300px; */
   background-color: #fff;
  }

  #concept .section-title {
    margin-bottom: 0;
  }
  
  .text-container .text {
    font-size: .5rem;
    letter-spacing: .0005rem;
    /* display: flex; */
    /* align-items: center; */
  }

  /* ニュースセクション */

  #news {
    height: 750px;
    padding: 0;
  }

  .nLeft {
    width: 70%;
  }
  
  .nLeft .images {
    border: 8px solid #fff;
  }
  
  .nLeft .images:nth-child(1) {
    width: 100%;
    height: auto;
    top: -1%;
    left: -1%;
  }
  
  .nLeft .images:nth-child(2) {
    width: 85%;
    height: auto;
    top: 19%;
    left: 20%;
    z-index: 1;
  }
  
  .nLeft .images:nth-child(3) {
    width: 100%;
    height: auto;
    top: 37.5%;
    left: 2%
  }
  
  .nRight {
    width: 30%;

  }
  
  .news-title {
    border: none;
    color: #fff;
    width: 35%;
    margin: 40% auto 15% auto;
  }
  
  .news-contents {
    width: 50%;
    margin: 0 auto;
  }
  
  .news-contents dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width: 68%;
    /* font-size: .5rem; */
  }
  
  .news-contents dt {
    width: 64%;
    text-align: center;
    padding: 0;
    font-size: .75rem;
    padding-top: 20%;
    border-bottom: none;
  }
  
  .news-contents dd {
    width: 64%;
    font-size: .65rem;
    padding-bottom: 20%;
  }
  
  .news-contents dt:nth-child(7) {
    border-bottom: none;
  }
  
  .news-contents dd:nth-child(8) {
    border-bottom: none;
  }
  
  .news-contents dd a {
    color: #fff;
  }
  
/* スタイルセクション */


#style {
  /* height: 100%; */
  /* height: 400px; */
  background-color: #fff;
  position: relative;
}

.style-title {
  position: absolute;
  top: 48%;
  /* left: 22%; */
  width: 80%;
  margin: 0 auto;
}

.style-container {
  /* width: 56%; */
  width: 100%;
  height: 550px;
}

.style-text {
  width: 80%;
  /* margin: 0 auto; */
  position: absolute;
  left: 12%;
  top: 58%;
  border: none;
  font-size: .4rem;
  font-weight: 400;
  line-height: 1.25;
}

.images4 {
  position: absolute;
  width: 55%;
  height: auto;
  top: 79%;
  left: 3.5%;
}

.images5 {
  position: absolute;
  width: 46%;
  height: auto;
  top: -20%;
  right: 3.5%;
  z-index: 1;
}

.images-shadow {
  position: absolute;
  width: 44%;
  height: 36%;
  top: -22%;
  right: 1%;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}




/* メニューセクション */


#menu {
  height: initial;
  background: #e2e2e2e2;
  padding-top: 200px;
}

.menu-title {
  text-align: center;
  margin-top: -8%;
  margin-bottom: 3%;
}

.list-title {
  font-size: 1rem;
  font-weight: 600;
  padding-top: 3px;
  margin-bottom: 15px;
  display: inline-block;
  color: #000;
}

.menu-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.menu-container .menu {
  width: 95%;
  text-align: center;
  margin: 0 auto;  
}

.menu-container .menu dl {
  display: flex;
  flex-wrap: wrap;
  background: #282828;
  font-family: "Noto Sans JP";
  padding: 7% 0;
}

.menu-container .menu dt {
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1;
  width: 60%;
  padding: 3% 0;
  color: #fff;
  
}

.menu-container .menu dd {
  font-size: 0.8rem;
  font-weight: 300;
  vertical-align: bottom;
  line-height: 1;
  width: 40%;
  padding: 3% 0;
  color: #fff;
}

.list-title {
  margin-top: 18px;
}

.twolines {
  padding-top: 5%;
}

.threelines {
  padding-top: 10%;
}



 /* アクセスセクション */


  #access {
    font-size: 0.9rem;
    margin-bottom: 40%;
    height: 53vh;
  }

  #reserve-wrapper {
    display: block;
    /* height: calc(100vh); */
  }

  #reserve-wrapper .reserve-tel {
    width: 100%;
    margin: 7.5% 0;
  }

  #reserve-wrapper .reserve-tel p {
    width: 100%;
    padding: 2.5% 0;
  }

  #reserve-wrapper .reserve-line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 60%;
    margin: 7.5% auto;
    border-top: 1px solid #000;
  }

  a[href^="tel:"]{
    pointer-events: block;
  }
  
  .tel-btn {
    display: none;
  }

  #reserve-wrapper .reserve-tel {
    border-right: none;
  }

  #reserve-wrapper .reserve-tel .tel-btn-mobile {
    display: block;
    color: #000;
    font-size: 2.25rem;
    margin-bottom: 4.5%;
    }
  
  .reserve-tel .tel-btn-mobile:active {
    box-shadow: none;
    position: relative;
    top: 5px;
  }

  .fa-line {
    font-size: 1.75rem;
  }

  .reserve-line p {
    display: none;
  }

  .reserve-line img {
    display: none;
  }

  #access .reserve-line .line-btn-mobile  {
    display: block;
    color: #000;
    font-size: 1.5rem;
  }





  /* フッター */

  #footer {
    display: block;
    padding-top: 0;
  }

  .footer-wrapper {
    height: 25vh;
    margin-bottom: 15px;
  }
  
  #footer .sns-wrapper{
    width: 100%;
    display: block;
    justify-content: space-evenly;
  }

  #footer .sns-wrapper .fa-brands {
    font-size: 1.25rem;
  }


  #footer .sns-wrapper ul li a {
    font-size: 1.05rem;
  }
  
  #footer .contact-wrapper {
    width: 100%;
    margin: 3vh auto;
    justify-content: space-between;
  }
  
  #footer .contact-wrapper ul {
    padding-right: initial;
  }
  
  #footer .contact-wrapper ul li {
    width: 100%;
    display: flex;
    margin-left: 30px;
    font-size: .8rem;
  }
  
  #footer .contact-wrapper ul li p {
    font-size: .7rem;
  }
  
  #footer .contact-wrapper {
    width: 100%;
    line-height: initial;
  }

  
  #footer .contact-wrapper ul li {
    display: block;
    font-size: .6rem;
    color: #000;
  }

}
