html {
  font-size: 100%;
}

body {
  font-family: 'Cinzel', serif;
  font-family: 'Gochi Hand', cursive;
  font-family: 'Shippori Mincho B1', serif;
  font-family: 'Zen Kurenaido', sans-serif;
}

a {
  text-decoration: none;
  color: #d7fffe;
  display: inline-block;
}

li {
  list-style: none;
}



/* 共通部 */

.section-title {
  font-size: 2.3rem;
  padding: 5% 0 0% 0;
  letter-spacing: 0.07em;
  color: #D7FFFE;
  text-shadow: 2.5px 1.95px 1px #000;
  font-family: 'Cinzel';
}

.sub-title {
  font-size: 1.6rem;
  letter-spacing: 0.09em;
  padding-bottom: 3.5%;
  margin-bottom: 3%;
  color: #D7FFFE;
  text-shadow: 2.5px 1.95px 1px #000;
  font-family: 'Zen Kurenaido';
}


/* ローディング */

#loading {
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  transition: all 1s;
  position: fixed;
  inset: 0;
  z-index: 99;
  place-items: center;
  display: grid;
}

.spinner {
  width: 100px;
  height: 100px;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

/* ヘッダー */



/* メイン */
#main-bg {
  background: url("img/Shst4k_2.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  filter: contrast(105%) saturate(190%) brightness(100%) grayscale(0%);
  transition: .5s ease-in-out;
}

.moveRight {
  background: url("img/Shst4k_2.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: right;
  filter: contrast(105%) saturate(190%) brightness(100%) grayscale(0%);
  transition: .5s ease-in-out;
}




/* ファーストセクション */

#first-section {
  font-family: 'Cinzel';
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#first-section.hide {
  display: none;
}

.flex-first, .flex-second, .flex-third, .flex-fourth {
  display: flex;
  padding-left: 30%;
  margin: 2.3% 0;
  font-size: 2.1rem;
  letter-spacing: 0.08em;
  white-space: nowrap;
}

.box {
  width: 50px;
  padding: 20px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #d7fffe;
  text-shadow: 2.5px 1.95px 1px #000; 
}



.fadeUp {
  animation-name: fadeUpAnimation;
  animation-duration: .7s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnimation {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.delaySec {
  animation-delay: 2s;
}







/* 左右共通設定 */
#left-wrapper{
  position: relative;
  display: flex;
  flex-wrap: wrap;
}


#left-fixed{
  display: block;
  width: 18%;
  min-height: 100%;
  background-color: transparent;
}



/* カラーチェンジャーボタン */

.btn-area {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 190%;
  height: calc(100dvh / 2.5);
  cursor: pointer;
  padding: 10px;
}

#btn-black {
  width: 130%;
  height: 110%;
  border: none;
  background: transparent;
  position: -webkit-sticky;
  position: sticky;
  cursor: pointer;
}

#btn-graphic {
  border: 1px solid #fff;
  background-color: transparent;
  position: absolute;
  top: 40%;
  left: 1.5%;
  width: 65%;
  padding: 1.5% 4%;
  color: #fff;
  border-radius: 15px;
  transition: 0.4s ease-in-out;
  font-weight: 500;
  cursor: pointer;
}

#btn-graphic:before {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  right: -1em;
  transform: translateY(calc(-50% - 2px)) rotate(30deg);
  width: 12px;
  height: 2px;
  background-color: #fff;
  transition: 0.4s ease-in-out;
}

#btn-graphic.dark:before {
  background-color: #fff;
  transition: 0.4s ease-in-out;
}

#btn-graphic:after {
  content: '';
  position: absolute;
  top: 50%;
  right: -1em;
  transform: translateY(-50%);
  width: 40px;
  height: 2px;
  background-color: #fff;
  transition: 0.4s ease-in-out;
}

 #btn-graphic.dark:after {
  background-color: #fff;
  transition: 0.4s ease-in-out;
}


.message {
  display: none;
  text-align: center;
}

.message.appear {
  display: block;
  font-family: 'Shippori Mincho B1', serif;
  letter-spacing: 0.09em;
  width: 100%;
}


/* 右側 */

#right-wrapper{
  width: 82%;
}

#right-container {
  margin: 0 auto;
  width: 85%;
}

/*右各セクション*/
.right-section {
  height: 100%;
  width: 100%;
  margin-top: 20%;
}

section:nth-of-type(2n){
  background: transparent;
}




/* worksセクション */

#works {
  height: 97dvh;
  display: none;
}


#works.appear {
  display: none;
}

#works.appear {
  display: block;
}

#title-center {
  text-align: center;
}

.works-contents {
  width: 100%;
  display: flex;
}

.works-contents ul  {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 18%;
}

.works-contents ul li {
  margin-left: 5%;
}


#works img {
  width: 20em;
  height: 10em;
  object-fit: cover;
  border: 1px solid #d7fffe;
  padding: 0px;
  border-radius: 8px;
}

.works-contents p {
  text-align: center;
  font-size: 1rem;
  text-shadow: 2.5px 1.95px 1px #000;
  font-family: 'Zen Kurenaido';
}

.works-contents ul li:first-child {
  margin-bottom: 35px;
}


/* フッターセクション */

.footer {
  width: 40%;
  margin-left: 40%;
  background-color: transparent;
  display: none;
}

.footer.appear {
  display: block;
}

.footer p {
  color: #D7FFFE;
  font-family: 'Cinzel';
  text-align: center;
  text-shadow: 1.79px .748px .598px #000;
}

.footer span {
  letter-spacing: .75px;
}

.secret-container {
  position: fixed;
  position: -webkit-sticky;
  top:95%;
  right: 1%;
}

.joke {
  position: fixed;
  top: 84%;
  right: 10px;
  opacity: 0.5;
  color: #001e43;
  font-family: 'Gochi Hand';
  font-style: italic;
  rotate: -11deg;
  letter-spacing: 0.01rem;
  border-bottom: 0.05px double #a4c1d7;
}

.fadeIn{
  animation-name:fadeInAnime;
  animation-duration:2s;
  animation-fill-mode:forwards;
  opacity:0;
}

@keyframes fadeInAnime{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



/* レスポンシブスマホ */

@media screen and (max-width: 640px) {
  
  #main-bg {
    /* overflow: clip; */
    background: url("img/Shst4k_2.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    filter: contrast(105%) saturate(190%) brightness(100%) grayscale(0%);
    transition: .5s ease-in-out;
  }
  
  .moveRight {
    /* overflow: clip; */
    background: url("img/Shst4k_2.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    filter: contrast(105%) saturate(190%) brightness(100%) grayscale(0%);
    transition: .5s ease-in-out;
  }


  
  #right-wrapper {
    display: flex;
    flex-direction: column;
  }


  .flex-fourth {
    padding-left: 0%;
  }


  .section-title {
    margin-top: 15%;
    font-size: 1.5rem;
    width: 80%;
  }

  .sub-title {
    font-size: 1rem;
    width: 80%;
  }


  #nav_message {
    width: 65%;
    height: 3rem;
    color: #D7FFFE;
    visibility: visible;
  }




  #btn-graphic {
    position: absolute;
    top: 0%;
    right: 1.5%;
    width: 95vw;
    padding: 0% 0%;
    transition: 0.4s ease-in-out;
    font-weight: 500;
    cursor: pointer;
  }


  #btn-graphic:before {
    left: 0.9em;
    top: calc(50% - 4px);
    transform: rotate(150deg);
  }

  #btn-graphic:after {
    left: 1em;
  }


  .message.appear {
    padding: 0% 2%;
    font-size: 0.8rem;
  }
  

  .btn-area {
    top: 2%;
    left: 0;
    height: calc(100dvh / 2.8);
    width: calc(100vw / 2.8);
  }


  #first-section {
    width: 88%;
    margin-left: 10%;
  }

  #first-section.hide {
    display: none;
  }

  .flex-first, .flex-second, .flex-third {
    padding-left: 0;
    letter-spacing: 0.08em;
    font-size: 2.1rem;
  }

  .box {
    width: 7%;
    padding: 2%;
    font-size: 1.2rem;
  }

  .scrolldown2 {
    top: 80dvh;
    left: 60%;
  }

  .scrolldown2 span {
    font-size: .9rem;
  }



/* worksセクション */



#works {
  height: 98.5dvh;
  width: 80vw;
  display: none;
}

#works.appear {
  display: none;
}

#works.appear {
  display: block;
}

.works-contents {
  width: 30%;
}


#works img {
  width: 12.55em;
  height: auto;
}

.works-contents ul li {
  margin-top: 5px;
}

.works-contents ul li:first-child {
  margin-bottom: 0px;
}

.joke {
  top: 83%;
}



/* フッター */

  .footer {
    margin-left: 27%;
    
  }

  .footer p {
    font-size: .6rem;
  }
}










/* レスポンシブタブレット */

@media screen and (min-width:640px) and (max-width: 820px) {


  #main-bg {
    background: url("img/Shst4k_2.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    filter: contrast(105%) saturate(190%) brightness(100%) grayscale(0%);
    transition: .5s ease-in-out;
  }


  #left-fixed {
    width: 16%;
  }

  #right-wrapper {
    width: 0%;
  }


  #btn-graphic {
    position: absolute;
    top: 15%;
    right: 1.5%;
    width: 50vw;
    padding: 2.5% 0%;
    transition: 0.4s ease-in-out;
    font-weight: 500;
    cursor: pointer;
  }

  #btn-graphic:before {
    left: 0.9em;
    top: calc(50% - 4px);
    transform: rotate(150deg);
  }

  #btn-graphic:after {
    left: 1em;
  }


  .message.appear {
    padding: 0% 2%;
  }
  

  .section-title {
    margin-top: 150px;
    font-size: 1.5rem;
    width: 100%;
  }

  .sub-title {
    font-size: 1rem;
    width: 100%;
  }

  .sub-title.fadeIn {
    justify-content: center;
  }

  .container {
    display: flex;
    justify-content: center;
  }


/* ファーストセクション */

#first-section {
  width: 18%;
}


.flex-first, .flex-second, .flex-third, .flex-fourth {
  display: flex;
  padding-left: 40%;
  margin: 2.3% 0;
  font-size: 2.1rem;
  letter-spacing: 0.00em;
  white-space: nowrap;
  margin-left: 3vw;
}


/* ワークスセクション */

#works {
  width: 500px;
  height: 85.45dvh;
}

.work-contents ul li p {
  display: inline-block;
  width: 25%;
  font-size: 0.9rem;
}

.works-contents ul li {
  margin: 0 10px 10px 0;
}

.works-contents ul li:first-child {
  margin-bottom: 10px;
}

.secret-container {
  position: sticky;
  position: -webkit-sticky;
  top:95%;
  left: 1%;
}


.joke {
  /* position: sticky; */
  /* position: -webkit-sticky; */
  top: 83%;
  right: 10px;
  opacity: 0.5;
  color: #001e43;
  font-family: 'Gochi Hand';
  font-style: italic;
  rotate: -11deg;
  letter-spacing: 0.01rem;
  border-bottom: 0.05px double #a4c1d7;
}



/* フッター */

.footer {
  margin-left: 27%;
}




}
