html {
  font-size: 100%;
}

body {
  font-family: 'Cinzel', serif;
  font-family: 'Gochi Hand', cursive;
  font-family: 'Shippori Mincho B1', serif;
  font-family: 'Zen Kurenaido', sans-serif;
}

a {
  text-decoration: none;
  color: #D7FFFE;
}

li {
  list-style: none;
}



/* セクションタイトル（その他共通部） */

.darkFont {
  color: (to right, #f83600 0%, #f9d423 100%);
}

.darkBgc {
  background-color: #030303;
}

.darkBgi {
  background-image: #030303;
}


.section-title {
  font-size: 2.2rem;
  padding: 4% 0 1.5% 0;
  letter-spacing: 0.07em;
  color: #D7FFFE;
  /* font-family: 'Cinzel'; */
  font-family: 'Zen Kurenaido';
  font-style: italic;
  margin-top: 10%;
}

.sub-title {
  font-size: 1.5rem;
  letter-spacing: 0.09em;
  padding-bottom: 3.5%;
  color: #D7FFFE;
  font-family: 'Zen Kurenaido';
  font-style: italic;
  /* font-weight: medium; */
}

.bgextend{
	animation-name:bgextendAnimeBase;
	animation-duration:1s;
	animation-fill-mode:forwards;
	position: relative;
	overflow: hidden;/* 　はみ出た色要素を隠す　 */
	opacity:0;
}

@keyframes bgextendAnimeBase{
  from {
    opacity:0;
  }
  to {
    opacity:1;  
}
}

/*中の要素*/
.bgappear{
	animation-name:bgextendAnimeSecond;
	animation-duration:1s;
	animation-delay: 0.6s;
	animation-fill-mode:forwards;
	opacity: 0;
}

@keyframes bgextendAnimeSecond{
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
}
}

/*左から右*/
.bgLRextend::before{
	animation-name:bgLRextendAnime;
	animation-duration:1s;
	animation-fill-mode:forwards;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%); */
    /* background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%); */
    /* background: #6EA5C3; */
    background: rgba(0, 104, 183, 0.35);
}

@keyframes bgLRextendAnime{
	0% {
		transform-origin:left;
		transform:scaleX(0);
	}
	50% {
		transform-origin:left;
		transform:scaleX(1);
	}
	50.001% {
		transform-origin:right;
	}
	100% {
		transform-origin:right;
		transform:scaleX(0);
	}
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.bgappearTrigger,
.bgLRextendTrigger{
    opacity: 0;
}







/* ローディング */

#loading {
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  transition: all 1s;
  position: fixed;
  inset: 0;
  z-index: 99;
  place-items: center;
  display: grid;
}

.spinner {
  width: 100px;
  height: 100px;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

/* ヘッダー */

/* #header {
  width: 100%;
  height: 50px;
}

.header-nav {
  width: 100%;
  position: fixed;
  display: none;
}

.header-nav ul {
  display: flex;
  text-align: center;
  width: 100%;
}

.header-nav ul li {
  display: inline;
  width: 100%;
  max-width: calc(100% / 3);
} */

.nav {
  display: none;
}

#nav_message_text {
  display: none;
}

/*== ボタン共通設定 */
.btn02 {
  /*背景の基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
  display: inline-block;
  width:100%;
  max-width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  outline: none;
}

/*ボタン内側の設定*/
.btn02 span {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: .5px solid #fff;
  /* 重なりを3Dで表示 */
  transform-style: preserve-3d;
  /* アニメーションの設定 数字が少なくなるほど早く回転 */
  transition: 0.5s;
}


/*== くるっと回転（奥に） */

/* 回転前 */
.rotateback span:nth-child(1) {
  background: rgba(0, 0, 0, 0);
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.07em;
  transform: rotateX(0deg);/*はじめは回転なし*/
  transform-origin: 0 50%  -25px;/* 回転する起点 */
  font-family: 'Cinzel';
}

/*hoverをした後の形状*/
.rotateback:hover span:nth-child(1) {
  transform: rotateX(90deg);/* X軸に90度回転 */
}

/* 回転後 */
.rotateback span:nth-child(2) {
  background: rgba(0, 0, 0, 0);
  color: #fff;
  letter-spacing: 0.15em;
  font-family:
  YuMincho,    /* Mac用 */
	'Yu Mincho', /* Windows用 */
	serif;
  font-weight: lighter;
  transform: rotateX(-90deg);/*はじめはX軸に-90度回転*/
  transform-origin: 0 50%  -25px;/* 回転する起点 */
}

/*hoverをした後の形状*/
.rotateback:hover span:nth-child(2) {
  transform: rotateX(0deg);/* X軸に0度回転 */
}




/* メイン */

#main-bg {
  /* position: relative; */
  background: url("img/Shst4kmozjpeg_134745942238402160.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}


.op-area {
  /* position: -webkit-sticky;
  position: sticky; */
  position: fixed;
  top: 0;
  height: 1%;
  background-color: transparent;
  opacity: 0.5;
  z-index: 10;
  /* border: 1px solid black; */
}




/* ファーストセクション */

#first-section {
  font-family: 'Cinzel';
  width: 100%;
  height: calc(100vh - 50px);
  /* レスポンシブの場合heightの値に注意 */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-first, .flex-second, .flex-third {
  display: flex;
  padding-left: 20%;
  margin: 2.3% 0;
  font-size: 2.1rem;
  letter-spacing: 0.08em;
  white-space: nowrap;
}

.box {
  width: 50px;
  padding: 20px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  filter: blur(20px);
  color: #D7FFFE;
  /* text-shadow: 3px 1.25px .1px #000; */
}

/* .boxdark {
  color: #030303;
} */




.fadeUp {
  animation-name: fadeUpAnimation;
  animation-duration: .7s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnimation {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeDown {
  animation-name: fadeDownAnimation;
  animation-duration: .7s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeDownAnimation {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* .delaySec1 {
  animation-delay: 3.5s;
} */

.delaySec2 {
  animation-delay: 3.5s;
}

.delaySec3 {
  /* animation-delay: 5.25s; */
  animation-delay: 4.25s;
}




/* スクロールバーの場所 */
.scrolldown2 {
  position: absolute;
  top: calc(100vh - .5%);
  left: 70%;
}

/* スクロールテキスト */
.scrolldown2 span {
  position: absolute;
  left: 10px;
  top: -55px;
  font-family: 'Cinzel';
  color: #D7FFFE;
  font-size: .95rem;
  letter-spacing: 0.06em;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

/* 丸の描写 */
.scrolldown2:before {
  content:"";
  position:absolute;
  bottom: 0;
  left: -4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000;
  animation:
    circlemove 1.6s ease-in-out infinite,
    circlemovehide 1.6s ease-out infinite; 
}

.scrolldown2:before .dark {
  background-color: #fff;
}

/* 丸の動き（上から下） */
@keyframes circlemove {
  0% {
    bottom: 45px;
  }
  100% {
    bottom: -5px;
  }
}

/* 透過度（上から下） */
@keyframes circlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

/* バーの描写 */
.scrolldown2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 50px;
  background-color: #D7FFFE;
}



/*========= 左固定レイアウトのためのCSS ===============*/

/*左と右を囲う全体のエリア*/
#left-wrapper{
  position: relative;/*position stickyの基点にするため relativeをかける*/
  display: flex;/*左エリア、右エリア横並び指定*/
  flex-wrap: wrap;/*ボックスの折り返し可*/
}

/*左エリア*/
#left-fixed{
  /*左固定記述*/
  /* position: -webkit-sticky; */
  /* position: sticky; */
  /* top: 0px; */
  /* height: 1px; */
  /* bottom: 1%; */
  /*横半分50%　縦を100vhにする*/
  display: block;
  width: 38%;
  min-height: 100%;
  /* margin-left: 5%; */
  /*装飾のためのCSS*/
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: transparent;
  /* バッググラウンド自画像 */
  /* background-size: contain; */
  /* background-origin: border-box; */

}



/* カラーチェンジャーボタン */

.btn-area {
  /* position: absolute; */
  top: calc(100vh / 8.5);
  right: calc(100vw / 2);
  max-width: calc(100vw / 2.2);
  height: calc(100vh / 3);
  /* position: fixed; */
  position: -webkit-sticky;
  position: sticky;
}

#btn-black {
  width: 120%;
  height: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  position: -webkit-sticky;
  position: sticky;
}

#btn-graphic {
  border: 1px solid #fff;
  background-color: transparent;
  position: absolute;
  top: 5%;
  display: flex;
  /* justify-content: space-around; */
  /* align-items: center; */
  max-width: 50%;
  padding: 4% 8%;
  color: #fff;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
  font-weight: 500;
  cursor: pointer;
}

#btn-graphic:before {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  right: -2em;
  transform: translateY(calc(-50% - 2px)) rotate(30deg);
  width: 12px;
  height: 2px;
  background-color: #fff;
  transition: 0.3s;
}

#btn-graphic:after {
  content: '';
  position: absolute;
  top: 50%;
  right: -2em;
  transform: translateY(-50%);
  width: 60px;
  height: 2px;
  background-color: #fff;
  transition: 0.3s;
}

#btn-graphic:hover:before, #btn-graphic:hover:after {
  right: -2.5em;
}

#btn-graphic a:hover {
  background: #edf6ff;
  color: #fff;
}

.message {
  display: none;
  text-align: center;
}

.message.appear {
  display: block;
  font-family: 'Shippori Mincho B1', serif;
  letter-spacing: 0.09em;
  animation: 2s fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.darkTheme {
  filter: hue-rotate(180deg);
  transition: all .1s;
}

/* .ball:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 30px;
  width:60px;
  height:60px;
  border-radius:50%;
  background: #43A047;
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
} */


/*右エリア*/
#right-wrapper{
  /*横半分50%にする*/
  width: 60%;
  margin: 0 auto;
  
}
/*右各セクション 装飾のためのCSS*/
.right-section {
  height: 100%;
  width: 100%;
  /* margin-left: 40%; */
  /* 上記でもいける */
  /* margin: 0 10% 10% 10%; */
  /* padding:30px; */
}

section:nth-of-type(2n){
/*装飾のためのCSS*/
  background: transparent;
}

.text-wrapper {
  position: relative;
}

.text-wrapper::before, .text-wrapper::after {
  position: absolute;
  content:"";
  width: 50%;
  height: 9%;
}

/* .text-wrapper::before {
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  top: 0;
  left: 0;
}

.text-wrapper::after {
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  bottom: 0;
  right: 0;
} */



/* aboutme セクション */

#aboutme {
  padding-top: 1%;
  /* text-shadow: .75px .31px .025px #000; */
  /* text-shadow: .1px .075px .055px #000; */
  /* font-size: 1.45rem; */
  font-size: 1.4rem;
  letter-spacing: 0.09em;
}

h4, #container p, small {
  font-size: 1.2rem;
  margin:0 0 30px 0;
}

small{
  display: block;
  text-align: center;
}



.text {
  /* padding: 5%; */
  display: flex;
  flex-wrap: wrap;
}

.text .ruby {
  font-size: .65em;
}

.text dt, .text dd {
  text-align: center;
  width: 50%;
  font-size: 1.2rem;
  letter-spacing: 0.09em;
  padding: 7.5% 0;
  vertical-align: middle;
  color: #D7FFFE;
  font-family: 'Zen Kurenaido';
  font-style: italic;
  font-weight: normal;
}

/* .text dd {
  padding: 10% 0;
} */

.text .vertical-fix {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1% 0;
}

.text .space {
  margin: 4% 0;
}



/* スキルセクション */



.skill-section {
  display: flex;
  align-items: center;
  color: #D7FFFE;
  margin: 35% 0;
}

.text p {
  font-size: 1.2rem;
  font-family: 'Zen Kurenaido';
  font-style: italic;
  letter-spacing: 0.09em;
  padding: 8% 0;
  margin: 0 auto;
}


#chart {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: rgba(255, 255, 255, 0.35);
}


/* スキルセクションここまで、以下職歴・経歴セクション */


.mytimeline{
  padding: 5%;
  color: #D7FFFE;
  font-family: 'Zen Kurenaido';
  font-style: italic;
}

.mytimeline li {
  position: relative;
  padding-bottom: 10%;
}

.mytimeline li:after {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #D7FFFE;
}

.mytimeline dl {
  margin: 0 0 20px 3em;
}

.mytimeline dt:nth-child(1) {
  /* font-family: 'Poppins'; */
  font-size: 1.4rem;
  letter-spacing: 0.09em;
}

.mytimeline dt:nth-child(2) {
  padding: 2px 0 4px 0;
  /* font-family: 'Klee One'; */
  /* font-weight: bold; */
  font-size: 1.4rem;
  letter-spacing: 0.09em;
}

.mytimeline em {
  border-bottom: 1px dotted #D7FFFE;
}

.mytimeline em.mtlbbDark{
  border-bottom: 1px dotted #ff9a44;
}


.mytimeline dd {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
  letter-spacing: 0.09em;
  padding-left: 1.35rem;
  margin: 2% 0;
  
}

.border-line {
  position: absolute;
  left: 0.22em;
  top: 10px;
  width: 2px;
  height: 12px;
  background-color: #D7FFFE;
}



/* worksセクション */

#title-center {
  text-align: center;
}

.works-contents {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.works-contents ul li {
  display: flex;
  justify-content: center;
  /* justify-content: space-evenly; */
  /* flex-wrap: wrap; */
}

#works img {
  width: 25em;
  height: 15em;
  object-fit: cover;
  border: 2px solid;
  padding: 0px;
  border-radius: 8px;
}

.works-contents p {
  text-align: center;
  font-size: 1.15rem;
  color: #D7FFFE;
  font-family: 'Zen Kurenaido';
  font-style: italic;
}

.works-contents ul li:first-child {
  margin-bottom: 35px;
}


/* コンタクトセクション */

.contact-container {
  color: #D7FFFE;
  font-family: 'Zen Kurenaido';
  font-style: italic;
  font-size: 1.25rem;
}

.contact-form {
  margin: 0 auto;
  width: 50%;
}


.contact-form dl {
  display: flex;
  flex-direction: column;
}

.contact-form dt {
  width: 100%;
  text-align: left;
}

.contact-form input, textarea {
  width: 100%;
  margin-bottom: .5%;
  color: #D7FFFE;
  font-family: 'Zen Kurenaido';
  font-style: italic;
  border: .5px solid skyblue;
  font-size: 1.05rem;
}

.contact-form input {
  padding: 0.75% 0;
}

.contact-form textarea {
  height: 9rem;
}

.required {
  background-color: #D7FFFE;
  color: royalblue;
  font-size: 0.9rem;
  padding: 0px 3.5px 0 2.5px;
  margin-left: 3%;
  border-radius: 4px;
}

.submit-button {
  text-align: center;
  margin: 45px 0;
}

.submit-button button {
  width: 30%;
  border: 0.5px solid skyblue;
  background-color: #D7FFFE;
  color: royalblue;
  font-family: 'Zen Kurenaido';
  font-style: italic;
  font-size: 1.2rem;
}

.submit-button button:hover {
  background-color: skyblue;
  color: white;
}

/* フッターセクション */

.footer {
  width: 60%;
  margin-left: 40%;
  background-color: transparent;
}

.footer p {
  color: #D7FFFE;
  font-family: 'Cinzel';
  text-align: center;
}

.footer span {
  letter-spacing: .75px;
}

.secret-container {
  position: sticky;
  position: -webkit-sticky;
  top:77.5%;
}

.joke {
  /* position: sticky; */
  /* position: -webkit-sticky; */
  /* position: fixed; */
  position: absolute;
  top: 76%;
  left: 1px;
  opacity: 0.5;
  color: #001e43;
  font-family: 'Gochi Hand';
  font-style: italic;
  rotate: -11deg;
  letter-spacing: 0.01rem;
  border-bottom: 0.05px double #a4c1d7;
}



/* レスポンシブ768px以下 */

@media screen and (max-width: 640px) {
  
  .header-nav {
    display: none;
  }
 
  .nav {
    display: block;
    justify-content: space-evenly;
    opacity: 0;
    visibility: hidden;
    /* transition: 2s; */
  }

  .showSP {
    opacity: 1;
    visibility: visible;
    transition: transform 1.1s, opacity .9s;
  }


  .nav_menu_ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    /* min-width: 100vw; */
  }


  .nav_menu_li a {
    letter-spacing: 0rem;
    display: inline-block;
    /* width: calc(100vw / 4.5); */
    /* margin-left: .6rem; */
  }
  


  #nav_message {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 85%;
    height: 4.7rem;
    /* color: #fff; */
    /* opacity: 0; */
    /* visibility: hidden; */
  }

  
  #nav_message_text {
    color: #fff;
    display: block;
    text-align: center;
    justify-content: center;
    letter-spacing: .03rem;
    font-family: 'Poppins';
    font-weight: 550;
    /* font-style: normal; */
    /* opacity: 0; */
    /* visibility: hidden; */
  }


  .nav_toggle {
    display: block;
    position: absolute;
    top: 1.65%;
    right: 4%;
    width: 1.75rem;
    height: 1.5rem;
    transition-duration: 1s; 
  }
  
  .nav_toggle.show {
    position: absolute;
    top: 55px;
    transition-duration: 1s;
  }

  .nav_toggle i {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    transition: transform 1.1s, opacity .7s;
  }

  .nav_toggle i:nth-child(1) {
    top: 0;
  }
  .nav_toggle i:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .nav_toggle i:nth-child(3) {
    bottom: 0;
  }
  

  .nav_toggle.show i:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
  }
  .nav_toggle.show i:nth-child(2) {
    opacity: 0;
  }
  .nav_toggle.show i:nth-child(3) {
    transform: translateY(-12px) rotate(45deg);
  }
  

  
  

  /* ハンバーガーアイコンここまで */

  /* ダークモードここから */

  .btn-area {
    top: 2%;
    left: 0;
    height: calc(100dvh / 2.8);
    width: calc(100vw / 2.8);
  }

  #btn-graphic {
    display: none;
  }

  /* ダークモードここまで */
  .section-title {
    margin-top: 200px;
  }
  
  #main-bg {
    width: 100vw;
    height: 100dvh;
    position: relative;
  }

  #main-bg img {
    object-fit: cover;
  }

  .delaySec1 {
    animation-delay: none;
  }
  
  .delaySec2 {
    animation-delay: 3.0s;
  }


  .flex-first, .flex-second, .flex-third {
    padding-left: 38%;
    letter-spacing: 0.01px;
  }

  .box {
    width: 7%;
    padding: 2%;
    font-size: 1.1rem;
    /* text-shadow: .3% .125% .01% #000; */
  }

  /* AboutMEセクション */
  #aboutme {
    flex-direction: column;

  }


  .right-wrapper .section-title {
    width: 100%;

  }

  #left-wrapper {
    flex-direction: column;
    position: relative;
  }


  #left-fixed {
    position:static;
    width: 100%;
    height: 100vh;
    margin-left: 0;

  }

  #right-wrapper {
    width: 100%;

  }

  .right-area span {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text {
    padding: 0;
  }

  .mytimeline dt:nth-child(1),
  .mytimeline dt:nth-child(2) {
    font-size: 1.15rem;
  }

  .text dt, .text dd, .text p,
  .mytimeline dd, .contact-container,
  .contact-form input, textarea,
  .submit-button button {
    font-size: 1rem;
  }

  .right-section {
    margin: 0 5px 5px 5px;
  }
  
  /* WORKSセクション */
   
  
  #works img {
    width: calc(100% - 14px);
    margin: 0 5px;
    /* justify-content: initial; */
  }

  #works li {
    width: 100%;
  }

  #works li:nth-child(2) {
    margin-top: 20px;
  }
  
  
  #works li:nth-child(2) {
    margin-top: 20px;
  }

  #works p {
    font-family: "Klee One";
    font-size: 1rem;
  }


  /* コンタクトセクション */
  #contact dl span {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 20%;
  }

  .required {
    font-size: 0.8rem;
  }

  .contact-form dd {
    margin: 1px 0;
  }

  .contact-form dd input,
  .contact-form dd textarea {
    font-size: .75rem;
  }

 .submit-button button {
    width: 100%;
  }

  #footer {
    margin-top: 200px;
  }
}