html {
  font-size: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 100vw;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  font-family: "M PLUS Rounded 1c", sans-serif;
}

main {
  height: 63%;
  font-size: 35px;
  text-align: center;
  border: 15px outset goldenrod;
  padding: 45px;
}

main p {
  margin: 10% 0;
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

input {
  font-size: 25px;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.blocks {
  height: 75px;
  width: 75px;
  margin-bottom: 15px;
  vertical-align: middle;
}

input[value="○"] {
  color: green;
} 

input[value="X"] {
  color: red;
}

#reset {
  border: 4px outset goldenrod;
  border-radius: 1px;
  color: beige; 
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}


@media screen and (max-width: 640px) {
  
  body {
    height: 100vh;
  }

  .blocks {
      height: 29%;
      width: 29%;
  }
}

@media screen and (min-height: 1200px) {
  
  body {
    height: 100vh;
  }
  
  main {
    height: 780px;
  }
}