html {
  font-size: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100%;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  font-family: "M PLUS Rounded 1c", sans-serif;
}

main {
  height: 83%;
  font-size: 27px;
  text-align: center;
  border: 15px outset #80d0c7;
  padding: 45px;
}

main p {
  margin: 10% 0;
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

input {
  font-size: 25px;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.blocks {
  height: 75px;
  width: 75px;
  margin-bottom: 15px;
  vertical-align: middle;
}

input[value="○"] {
  color: green;
} 

input[value="X"] {
  color: red;
}

#reset {
  margin: 0 auto;
  border: 4px outset #80d0c7;
  border-radius: 1px;
  color: beige; 
  background-image: linear-gradient(#13547a 0%, #80d0c7 100%);
}