
.second



html {
  font-size: 100%;
}

body {
  font-family: 'Cinzel', serif;
  font-family: 'Zen Kurenaido', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}


/* 共通部 */



.section-title {
  width: 90vw;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Zen Kurenaido';
  margin-bottom: 1%;
}

.section-title2 {
  width: 100vw;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Zen Kurenaido';
  margin: 4.5% 0 2% 0;
}

/* wave */

.wavaContainer {
  position: relative;
}

#waveCanvas{
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
}

#waveCanvas2{
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
}

#waveCanvas3{
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
}
/* バブル共通部 */



.area{
  background: transparent;
  /* position: relative; */
  /* width: 100%; */
  /* z-index: 1; */
  /* background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);   */
  /* width: 1%; */
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% / 3);
  height: 100%;
  /* overflow: hidden; */
}

.circles li{
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: 0px;
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 5s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  /* animation-delay: 15s; */
  animation-delay: 6s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

/* バブル共通部ここまで */

/* スクロールスナップ・セクション設定共通 */

.total-container {
  scroll-snap-type: x mandatory;
  /* overflow-y: auto; */
  width:100%;
  height:100vh;
  overflow:auto;
  display:flex;
  /* position: relative; */
}
 
.section {
  scroll-snap-align: start;
  height:100vh;
  width:100%;
  flex:none;
  position: relative;
}

.SP {
  scroll-snap-align: start;
  height:100vh;
  width:100%;
  flex:none;
  position: relative;
}

section:nth-child(1){

  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

section:nth-child(2){
  background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
}

section:nth-child(3){
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);

}

section:nth-child(4){
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

section:nth-child(5){
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}



/* スクロールスナップここまで */






/* セクションごと共通部ここまで */





/* ローディング */

#loading {
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  transition: all 1s;
  position: fixed;
  inset: 0;
  z-index: 99;
  place-items: center;
  display: grid;
}

.spinner {
  width: 100px;
  height: 100px;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

/* ローディング終わり */



/* ファーストセクション */

#first-section {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#second-section, #third-section {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;

}


.flex-first, .flex-second, .flex-third {
  display: flex;
  margin: 2.3% 0;
  font-size: 2.1rem;
  letter-spacing: 0.08em;
  white-space: nowrap;
}

.box {
  width: 50px;
  padding: 20px;
  font-family: 'Cinzel';
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  filter: blur(20px);
  color: #000;
  text-shadow: 2px 1.45px 1px #507ea3;
  transition: .4s ease-in-out;
}





.scrollbar {
  position: absolute;
  top: 44vh;
  left: 90vw;
  filter: blur(20px);
  font-size: 0.88rem;
  letter-spacing: 0em;
  margin: 0% 0%;
  text-shadow: none;
}


.bar-text {
  font-family: 'Cinzel';
  color: #000;
  display: flex;
  font-size: .8rem;
}

.bar-icon {
  display: inline-block;
  vertical-align: middle;
  color: #000;
  line-height: 1;
  width: 1em;
  height: 1em;
  border: 0.3em solid currentColor;
  border-left: 0;
  border-bottom: 0;
  box-sizing: border-box;
  transform: translateX(-25%) rotate(45deg);
  animation: flash 1.5s linear infinite;
}


@keyframes flash {
	0%,
	100% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}
}

/* 第一セクションここまで*/


/* 第二セクション(自己紹介)ここから */


.aboutme {
  display: flex;
  align-items: center;
  margin-left: 50%;
  margin: 0 auto;
  width: 100vw;
  height: 100dvh;
}



.aboutme-left {
  width: 50vw;
  margin-left: 5%;
}

.text img {
  width: 150px;
  height: 150px;
}

.aboutme-right {
  width: 50vw;
  margin-right: 5%;
  margin-top: 4.5%;
}

.aboutme-right2 {
  width: 50vw;
  margin-right: 5%;
  margin-top: 4.5%;
}


.text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



.text dt, .text dd {
  font-size: 1.2rem;
  letter-spacing: 0.09em;
  padding: 4% 0 0 0;
  color: #000;
  font-family: 'Zen Kurenaido';
}

.text dt {
  width: 20%;
  text-align: center;
  margin-left: 10%;
}

.text dd {
  width: 60%;
  margin-left: 10%;
}

.text .ruby {
  font-size: .65em;
}

.text .vertical-fix {
  display: flex;
  justify-content: center;
  align-items: center;
}



.text .horizontal-fix {
  width: 58%;
  padding-left: 2%;
}


.rChart-container {
  position: relative;
  width: 38vw;
  height: 65vh;
  /* margin: 0 auto; */
  display: flex;
}



/* 第三セクション */
/* キャリアスキルセクション */

.career {
  /* display: flex; */
  /* align-items: center; */
  margin: 0% 2% 2% 2%;
  margin: 0 auto;
  /* width: 100vw; */
  height: 100dvh;
}

.career-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.career-left {
  width: 55%;
  margin-left: 5%;
}

.career-left p {
  font-size: 1.1rem;
  color: #000;
  font-family: 'Zen Kurenaido';
  letter-spacing: 0.09em;
}

.career-right {
  width: 45%;
  margin: 0% 5%;
}

.chart-text {
  font-size: 1.1rem;
  color: #000;
  font-family: 'Zen Kurenaido';
  letter-spacing: 0.09em;
  padding: 8% 8%;
  display: flex;
  justify-content: center;
}

.bChart-container {
  position: relative;
  width: 45vw;
  height: auto;  
  margin: 0 auto;
}

#chart {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
}



/* 第三セクションここまで */















/* レスポンシブスマホ */

@media screen and (max-width: 640px) {
  

.total-container {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  width:100%;
  height:100vh;
  /* overflow:auto; */
  display: block;
  /* position: relative; */
}
  
.section {
  scroll-snap-align: start;
  /* height:100vh; */
  /* width:100%; */
  /* flex:none; */
  position: relative;
}

.section {
  overflow: hidden;
}

.section-title {
  font-size: 1.25rem;
  margin-top: 4%;
}


.box {
  width: 20px;
  padding: 5px;
  font-size: 1.5rem;
}


.scrollbar {
  position: absolute;
  top: 75%;
  left: 44%;
  font-size: 1rem;
  width: auto;
}

.bar-text {
  font-size: 0.8rem;
}

.bar-icon {
  display: inline-block;
  width: .7em;
  height: .7em;
  border: 0.15em solid #000;
  border-left: 0;
  border-bottom: 0;
  display: flex;
  transform: translateX(150%) rotate(135deg);
}


/* 第二セクション */

#second-section {
  padding: 0 0 4% 0;
}

.aboutme {
  margin-left: 0;
  flex-direction: column;
  height: initial;
}

.aboutme-left {
  width: 90vw;
  margin-left: 0;
}

.text {
  margin-bottom: 5%;
}

.text dt, .text dd {
  font-size: 0.7rem;
  padding: 1.5% 0;
}

.text dt {
  margin-left: 0;
}

dt:first-child + dd {
  margin-left: 1%;
}


.aboutme-right {
  width: 100vw;
  margin-right: 0;
  margin-top: 0;
}

.rChart-container {
  height: 36vh;
  width: 99vw;
}


/* 第三セクション */
#third-section {
  height: 100%;
}

.section-title2 {
  font-size: 1.25rem;
  margin: -15% 0 0% 0;
}

.career {
  height: 70vh;
}

.career-center {
  display: flex;
  flex-direction: column;
}

.career-left {
  width: 90%;
  margin-left: initial;
  margin: 5% 5% 0 5%;
}

.career-left p {
  font-size: 0.7rem;
  margin: 3.5% 0;
}

.career-right {
  width: 90%;
  margin: 0 5% 0 5%;
}

.bChart-container {
  width: 100%;
  height: 28vh;
  margin: 7.5% 0;
}

.chart-text {
  font-size: 0.7rem;
  padding: 0;
  margin-top: 3.5%;
}


}

@media screen and (max-width: 389px) {

  #second-section {
    padding: 0 0 1% 0;
  }

  .section-title {
    font-size: 1.0rem;
  }

  .bar-text {
    transform: translateX(10%);
  }

  .bar-icon {
    transform: translateX(200%) rotate(135deg);
  }

  .text img {
    width: 100px;
    height: 100px;
  }


  .text dt, .text dd {
    font-size: .6rem;
    padding: 1.5% 0;
  }

  dt:first-child + dd {
    margin-left: 10%;
  }

  .rChart-container {
    height: 43vh;
  }

  .section-title2 {
    font-size: 1.0rem;
    margin: -20px 0 0 0;
  }

  .career-left p {
    font-size: 0.6rem;
  }

  .chart-text p {
    font-size: 0.6rem;
  }

  .bChart-container {
    width: 100%;
    height: 23vh;
    margin: 0 0 0 0;
  }

}














/* タブレット */

@media screen and (min-width:640px) and (max-width: 819px) {


  .total-container {
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    width:100%;
    height:100vh;
    /* overflow:auto; */
    display: block;
    /* position: relative; */
  }
    
  .section {
    scroll-snap-align: start;
    /* height:100vh; */
    /* width:100%; */
    /* flex:none; */
    position: relative;
  }
  
  .section {
    overflow: hidden;
  }
  
  .section-title {
    font-size: 2rem;
  }
  
  
  .box {
    width: 50px;
    padding: 7px;
    font-size: 2rem;
  }
  
  
  .scrollbar {
    position: absolute;
    top: 75%;
    left: 45%;
    font-size: 1rem;
    width: auto;
  }
  
  .bar-text {
    font-size: 0.8rem;
  }
  
  .bar-icon {
    display: inline-block;
    width: .7em;
    height: .7em;
    border: 0.15em solid #000;
    border-left: 0;
    border-bottom: 0;
    display: flex;
    transform: translateX(150%) rotate(135deg);
  }
  
  
  /* 第二セクション */
  
  #second-section {
    padding: 0;
  }
  
  .aboutme {
    margin-left: 0;
    flex-direction: column;
    height: initial;
  }
  
  .aboutme-left {
    width: 90vw;
    margin-left: 0;
  }
  
  .text {
    margin-left: 25%;
    justify-content: initial;
  }

  .text dt, .text dd {
    font-size: 1.1rem;
    padding: 2.5% 0;
  }
  
  .text dt {
    margin-left: 0;
  }
  
  dt:first-child + dd {
    margin-left: 1%;
  }
  
  
  .aboutme-right {
    width: 100vw;
    margin-right: 0;
    margin-top: 4.5%;
  }
  
  .rChart-container {
    height: 40vh;
    width: 100vw;
  }
  
  
  .section-title2 {
    font-size: 2rem;
    margin: 1.5% 0 5.5% 0;
  }
  
  .career {
    height: 100dvh;
  }
  
  .career-center {
    display: flex;
    flex-direction: column;
    height: 82.5dvh;
  }
  
  .career-left {
    width: 80%;
    margin-left: initial;
    margin: 0 5% 0 5%;
  }
  
  .career-left p {
    font-size: 1.1rem;
  }
  
  .career-right {
    width: 80%;
    margin: 2.5% 2.5% 0 2.5%;
  }
  
  .bChart-container {
    width: 100%;
    height: 25vh;
    margin: 2vh 0;
  }
  
  .chart-text {
    font-size: 1.1rem;
    padding: 0;
    margin-top: 2.5%;
  }

}


@media screen and (min-width: 820px) and (max-width: 880px) {

  .total-container {
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    width:100%;
    height:100vh;
    /* overflow:auto; */
    display: block;
    /* position: relative; */
  }
    
  .section {
    scroll-snap-align: start;
    /* height:100vh; */
    /* width:100%; */
    /* flex:none; */
    position: relative;
  }
  
  .section {
    overflow: hidden;
  }
  
  .section-title {
    font-size: 2rem;
  }
  
  
  .box {
    width: 50px;
    padding: 7px;
    font-size: 2rem;
  }
  
  
  .scrollbar {
    position: absolute;
    top: 75%;
    left: 45%;
    font-size: 1rem;
    width: auto;
  }
  
  .bar-text {
    font-size: 0.8rem;
  }
  
  .bar-icon {
    display: inline-block;
    width: .7em;
    height: .7em;
    border: 0.15em solid #000;
    border-left: 0;
    border-bottom: 0;
    display: flex;
    transform: translateX(150%) rotate(135deg);
  }
  
  
  /* 第二セクション */
  
  #second-section {
    padding: 0;
  }
  
  .aboutme {
    margin-left: 0;
    flex-direction: column;
    height: initial;
  }
  
  .aboutme-left {
    width: 90vw;
    margin-left: 0;
  }
  
  .text {
    margin-left: 25%;
    justify-content: initial;
  }

  .text dt, .text dd {
    font-size: 1.1rem;
    padding: 2.5% 0;
  }
  
  .text dt {
    margin-left: 0;
  }
  
  dt:first-child + dd {
    margin-left: 1%;
  }
  
  
  .aboutme-right {
    width: 100vw;
    margin-right: 0;
    margin-top: 4.5%;
  }
  
  .rChart-container {
    height: 40vh;
    width: 100vw;
  }
  
  
  .section-title2 {
    font-size: 2rem;
    margin: 4.5% 0 1.5% 0;
  }
  
  .career {
    height: 100dvh;
  }
  
  .career-center {
    display: flex;
    flex-direction: column;
    height: 82.5dvh;
  }
  
  .career-left {
    width: 80%;
    margin-left: initial;
    margin: 0 5% 0 5%;
  }
  
  .career-left p {
    font-size: 1.1rem;
  }
  
  .career-right {
    width: 80%;
    margin: 2.5% 2.5% 0 2.5%;
  }
  
  .bChart-container {
    width: 100%;
    height: 25vh;
    margin: 2vh 0;
  }
  
  .chart-text {
    font-size: 1.1rem;
    padding: 0;
    margin-top: 2.5%;
  }



}